{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ show.show_name }}{% endblock %}

{% block content %}
<h2>{{ show.show_name }}</h2>

<br>
<h5>Start Date:</h5>
{{ show.show_startdate }}<br>

<h5>Current Episode:</h5>
{{ show.show_current_episode }}<br>


<h5>Official Site:</h5>
{{ show.show_official_site }}<br>

<h5>Rating:</h5>
{{ show.show_rating }}<br>

<h5>Trailer:</h5>
<iframe width="560" height="315" src="http://www.youtube.com/embed/{{ show.show_trailer }}?rel=0" frameborder="0" allowfullscreen></iframe><br>

<h5>Storyline:</h5>
{{ show.show_storyline }}<br>

<h5>Country:</h5>{{ show.show_country }}<br>

<h5>Network:</h5>
{% for network in show.show_network.all %}
  {{ network }}<br>
{% endfor %} <br>

<h5>Actor:</h5>
{% for actor in show.show_actor.all %}
  {{ actor }}<br>
{% endfor %} <br>

<h5>Director:</h5>
{% for director in show.show_director.all %}
  {{ director }}<br>
{% endfor %} <br>

<h5>Genre:</h5>
{% for genre in show.show_genre.all %}
  {{ genre }}<br>
{% endfor %} <br>

<h5>Episode:</h5>
{% for episode in show.show_episode.all %}
  <a href="/show/{{ show.show_slug_name }}/{{ episode.episode_slug_name }}">{{ episode }}<br>
{% endfor %} <br>

{% endblock %}